<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
%>
<div>
    <a href="<%= path %>/<%= vocab_dir %>/ni.html?v=<%= version %>" id="<%= iframeUid %>" data-static-iframe-height="600">iFrame</a>
</div>
<style>
<%= include("../scss/news_special/loading.css") %>
</style>
<script>
		document.body.className += ' full-width-mode';
</script>
<script type="text/javascript">
	<%= include("../js/lib/news_special/iframemanager__host.js", {iframeUid: iframeUid}) %>
</script>