<%= include('includes/top.tmpl') %>

    <div class="main">
        
        <div class="nhswinter_app_artificial_expander">
            <div id="nhswinter_app" class="nhswinter_tracker ns__noJs">

                <div class="nhswinter_tracker_form_container nhswinter_tracker_form_container--nations">
                    <div class="nhswinter_tracker_form_container_left">

                        <%= include('includes/app/nations/wales.tmpl') %>

                    </div>
                </div>

                <div class="nhswinter_tracker_clear"></div>

            </div>
        </div>
        
    </div>

<%= include('includes/bottom.tmpl') %>