<div class="nhswinter_tracker_overview">
    <h2 class="nhswinter_tracker_h2">This week's figures for England:</h2>
    <ul class="nhswinter_tracker_list">
        <li>
            <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result_4">
                95%
                <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_no_change"></div>
            </span>
            <p>target for patients seen in 4 hours at A&amp;E</p>
        </li>
        <li>
            <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result--target">
                88.3%<%= include('includes/app/nations/patientsSeenIn4HrsMajorAE.tmpl') %>
                <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_arrow_down"></div>
            </span>
            <p>patients seen in 4 hours at major A&amp;E hospitals</p>
        </li>
        <li class="nhswinter_tracker_list_item_specialcase">
            <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result_2">
                92.3%
                <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_arrow_down"></div>
            </span>
            <p>patients seen in 4 hours at all A&amp;E units</p>
        </li>
    </ul>
</div>