
        <div class="nhswinter_tracker_overview">
            <ul class="nhswinter_tracker_list">
                <li class="nhswinter_tracker_list_item_specialcase nhswinter_tracker_overview_nation">
                    <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result_4">
                        95%
                        <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_arrow_no_change"></div>
                    </span>
                    <p>target for patients seen in 4 hours at A&amp;E</p>
                </li>
                <li class="nhswinter_tracker_overview_nation">
                    <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result_2">
                        73.5%
                        <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_arrow_down"></div>
                    </span>
                    <p>patients seen in 4 hours at major A&amp;E hospitals</p>
                </li>
                <li class="nhswinter_tracker_overview_nation">
                    <span class="nhswinter_tracker_overview_result nhswinter_tracker_overview_result_2">
                        76.7%
                        <div class="nhswinter_tracker_overview_arrow nhswinter_tracker_overview_arrow_down"></div>
                    </span>
                    <p>patients seen in 4 hours at all A&amp;E units</p>
                </li>
        </div>
