<div class="nhswinter_tracker_gi">
	<h1><%= get_involved_cta %></h1>
	<ul class="nhswinter_tracker_list">
		<li>
			<a class="get_involved_cta" href='<%= get_involved_1_link %>'>Facebook</a>
			<p><%= get_involved_1_description %></p>
		</li>
		<li>
			<a class="get_involved_cta" href='<%= get_involved_2_link %>'>Twitter</a>
			<p><%= get_involved_2_description %></p>
		</li>
		<li>
			<a href='<%= get_involved_3_link %>'>WhatsApp</a>
			<p><%= get_involved_3_description %></p>
		</li>
	</ul>
</div>