<!-- Set an environment variable so we can swith enviroments and still have absolute pathing -->
	<!-- Local Host -->
	<!--set var="NSENV" value="/" -->
	<!-- stage -->
	<!--set var="NSENV" value="http://news.stage.bbc.co.uk/" -->
	<!-- Live -->
	<!--#set var="NSENV" value="http://news.bbcimg.co.uk/" -->

<!-- Set a version number to clear JavaScript and CSS cache -->
<!-- version = application.week-no.revision-number -->
	<!--#set var="NSVERSION" value="0.20.9" -->
