<!-- newsspec_6185 -->

<!-- include virtual="/news/special/2013/newsspec_6185/inc/ns_env.inc" -->


<!-- include virtual="/news/special/2013/newsspec_6185/inc/main_html.inc" -->
<%= include('includes/app/wales_html.tmpl') %>

<!-- Load JS here Main JS will take care of loading all the dependencies -->
<script>
	window.newsspecVersion6185 = "<!--echo var="NSVERSION" -->";
	window.newsspec6185postcodemodule = false;
	<!-- include virtual="/news/special/2013/newsspec_6185/inc/compiled/main_js.inc" -->
    <%= include('includes/app/ns_env.tmpl') %>
</script>

<!-- newsspec_6185 -->
